<h3> Aerospace Engineering </h3>


<style>
.smallColumns {
    columns: 100px 2;
}
</style>

<p> Aerospace Engineers design, develop, and test aircraft, spacecraft, and missiles, and supervise their manufacture. Those who work
  with aircraft are called aeronautical engineers, and those working specifically with spacecraft are called astronautical engineers.
  Aerospace engineers develop new technologies for use in aviation, defense systems, and space exploration, often specializing in areas
  such as structures, propulsion systems, vehicle movement and control, communications, and overall vehicle design. </p>

  <p> They also may specialize in a particular type of aerospace product, such as commercial aircraft, military fighter jets, helicopters,
     spacecraft, or missiles and rockets, and may become experts in aerodynamics, thermodynamics, celestial mechanics, propulsion,
     acoustics, or guidance and control systems.</p>

  <p> To graduate with a degree in Aeropspace Engineering at USC, you must take the following courses: </p>
<div class="smallColumns">
    Writ 150 <br> Writ 340 <br> Math 125 <br> Math 126 <br> Math 226 <br> Math 245 <br> Phys 151L <br> Phys 152L <br> Phys 153L <br>
    Chem 105aL / Chem 115aL / Masc 110L <br> AME 105 <br> AME 150L <br> AME 201 <br> AME 204 <br> AME 261 <br> AME 301 <br> AME 302 <br>
    AME 308 <br> AME 309 <br> AME 310 <br> AME 341aLbL <br> AME 404 <br> AME 436 <br> AME 441aL <br> AME 451 <br> AME 481 <br> ASTE 280 <br>
    AME Core electives <br> Technology electives <br> General Education
</div>

{{outlet}}
