<h3> Mechanical Engineering </h3>

<style>
.smallColumns {
    columns: 100px 2;
}
</style>

<p> Mechanical engineering is a diverse subject that derives its breadth from the need to design and manufacture everything from
  small individual parts and devices to large systems. The role of a mechanical engineer is to take a product from an idea to the
  marketplace. He/She needs to understand the forces and the thermal environment that a product, its parts, or its subsystems will
  encounter; to design them for functionality, aesthetics, and the ability to withstand the forces and the thermal environment they
  will be subjected to; and to determine the best way to manufacture them and ensure they will operate without failure. Perhaps the
  one skill that is the mechanical engineer’s exclusive domain is the ability to analyze and design objects and systems with motion. </p>

  <p> To put it simply, mechanical engineering deals with anything that moves, including the human body. Mechanical engineers learn
    about materials, solid and fluid mechanics, thermodynamics, heat transfer, control, instrumentation, design, and manufacturing to
    understand mechanical systems. Specialized mechanical engineering subjects include biomechanics, cartilage-tissue engineering,
    energy conversion, laser-assisted materials processing, combustion, MEMS, microfluidic devices, fracture mechanics, nanomechanics,
    mechanisms, micropower generation, tribology (friction and wear), and vibrations. The American Society of Mechanical Engineers (ASME)
     currently lists 36 technical divisions, from advanced energy systems and aerospace engineering to solid-waste engineering and
     textile engineering. </p>

     <p> To graduate with a degree in Mechanical Engineering at USC, you must take the following courses: </p>
<div class="smallColumns">
    Writ 150 <br> Writ 340 <br> Math 125 <br> Math 126 <br> Math 226 <br> Math 245 <br> Phys 151L <br> Phys 152L <br> Phys 153L <br>
    Chem 105aL / Chem 115aL / Masc 110L <br> AME 101L <br> AME 150L <br> AME 201 <br> AME 204 <br> AME 301 <br> AME 302 <br> AME 308 <br>
    AME 309 <br> AME 310 <br> AME 331 <br> AME 341aLbL <br> AME 404 <br> AME 409 <br> AME 441aL <br> AME 443L <br> AME 451 <br> AME 420 <br>
    Masc 310 <br> AME Core electives <br> AME Design electives <br> Technology electives <br> General Education
  </div>

{{outlet}}
