<h3> Petroleum Engineering </h3>

<style>
.smallColumns {
    columns: 100px 2;
}
</style>

<p> In order to maximize hydrocarbon recovery, petroleum engineers must be involved in all stages of petroleum development and production.
    Such a broad range of responsibilities guarantees a multi-disciplinary working environment that requires expertise in a wide range of
    areas including petrophysics, drilling and product operations, reservoir engineering, production geology, production technology, and
    field development economics. </p>

    <p> As their careers progress, petroleum engineers must also expand in other areas of their work, such as liaising with geoscientists
      and other engineers; and interpreting well-logging results and predicting production potential with commercial managers. They are
      also responsible for compiling detailed development plans of reservoir performance using mathematical models to ensure maximum
      economic recovery. Permanent global mobility is also necessary. Petroleum engineers are involved in all phases of oil exploration,
      from choosing prospective sites through taking down the drilling rig after extracting the oil.  This can mean travel, long stays in
      unusual (and sometimes inhospitable) locations and often with uncertain working conditions.</p>

    <p> To graduate with a degree in Mechanical Engineering at USC, you must take the following courses: </p>
<div class="smallColumns">
    Writ 150 <br> Writ 340 <br> Math 125 <br> Math 126 <br> Math 226 <br> Math 245 <br> Phys 151L <br> Phys 152L <br> Phys 153L <br>
    Chem 105aL / Chem 115aL / Masc 110L <br> AME 101L <br> AME 150L <br> AME 201 <br> AME 204 <br> AME 301 <br> AME 302 <br> AME 308 <br>
    AME 309 <br> AME 310 <br> AME 331 <br> AME 341aLbL <br> AME 404 <br> AME 409 <br> AME 441aL <br> AME 443L <br> AME 451 <br> AME 461 <br>
    AME 463L <br> AME 464L <br> AME 465L <br> AME Core electives <br> AME Design electives <br> Technology electives <br> General Education

</div>


{{outlet}}
