
<ul>
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
  <li>
    {{#link-to 'overview'}}Overview{{/link-to}}
  </li>
  <li>
    {{#link-to 'classes'}}Classes{{/link-to}}
  </li>
  <li>
    {{#link-to 'orgs'}}Organizations{{/link-to}}
  </li>
  <li>
    {{#link-to 'twitter'}}Twitter{{/link-to}}
  </li>
  <li>
    {{#link-to 'map'}}Campus Map{{/link-to}}
  </li>

</ul>

{{outlet}}
