<h1> Everything AME - USC Edition </h1>
<style>
.columns {
    columns: 2;
}
</style>
<div class="columns">
<strong> Department Head </strong>
<br>
<img src= "http://ame-www.usc.edu/personnel/spedding/picture.jpg" alt="Department Head Pic" style="width:130px; height:148px;">
<p> Geoffrey R. Spedding </p>
  <p> Office: OHE 430B </p>
  <p> Phone: 213-740-4132 </p>
  <p> Email: <i><a href="mailto:Spedding@usc.edu">Spedding@usc.edu</a></i> </p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<strong> Advisors </strong>
<br>
<img src= "http://www.finearts.utah.edu/images/BookAdvisingNow_v4.png" alt="Advisement Pic" style="width:200px; height:114px;">


<p> Freshman: Christine Frank </p>
<p> Office: RTH 110 </p>
<p> Phone: 213-740-4530 </p>
<p> Email: <i><a href="mailto:CFranks@usc.edu">CFranks@usc.edu</a></i> </p>
<p> ------------------------------- </p>

<p> Upperclassmen: Irice Castro </p>
<p> Office: RRB 101 </p>
<p> Phone: 213-740-5353 </p>
<p> Email: <i><a href="mailto:Simbol@usc.edu">Simbol@usc.edu</a></i> </p>

</div>

{{outlet}}
