<h2>USC Campus</h2>

{{google-map name="usc-map"
            markerInfoWindowTemplateName='map/info-window'
             markers=model
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='road'}}

<div class="controls">
  <label>
    Zoom:
    {{input type="range" value=zoom min=0 max=18 step=1}}
  </label>
</div>
